Div
{
width: 375px;
margin: auto;
color: rgb(3, 3, 3);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bbody
{
    background-image: url('4565.jpg'); background-size: cover; zoom: 90%;
}

.abody
{
    background-image: url('Amazing Game HD Wallpapers 055.jpg'); background-size: cover; zoom: 90%;
}

h2
{
    color: rgb(3, 3, 3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

.Reg
{
    width: 375px;
    margin: auto;
    text-decoration: none;
    color: black;
}

input,textarea
{
    border: 1px black solid ;
    border-radius: 5px;
}

span
{
    border: 1px red solid;
    color: white;
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
